/*  nav ulの子要素（li）を横並びにする  */
nav ul {
    display: flex;

}
/* nav ulに対して以下の設定をする  */
nav ul{
    height: 50px;   /* 高さ50px            */
    width: 840px;   /* 幅840px              */
    margin: 0 auto; /* ウィンドウ中央表示   */
    padding: 0;     /* 内側の空きを0px      */
}
/*   listの飾り（黒丸）を削除   */
nav ul li{
    list-style: none;

}
/*  nav ul li の幅を210pxに設定する */
nav ul li{
    width: 210px;    
}


#concept #nav_concept a,
#plan #nav_plan a,
#fair #nav_fair a,
#contact #nav_contact a,
nav ul li a:hover{
    background-position: 0 -45px;
}