@import url(common.css);
body{
    background-color: #f3f2e9;
    color: #5f5039;
    font-size: 87.5%;
    line-height: 1.5;
}
header, nav, #breadcrumb,
#contents, footer{
    width: 840px;
    margin: 0px auto;
}
header h1{
    text-align: center;
}
nav ul{
    display: flex;
    height: 50px;
    width: 840px;
    margin: 0px auto;
    padding: 0px;
} 
nav ul li{
    list-style: none;
    width: 210px;
}
nav ul li#nav_concept a{
    background-image: url(../images/nav1.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 280px;
}
nav ul li#nav_plan a{
    background-image: url(../images/nav2.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 280px;
}
nav ul li#nav_fair a{
    background-image: url(../images/nav3.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 280px;
}
nav ul li#nav_contact a{
    background-image: url(../images/nav4.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 280px;
}
#concept #nav_concept a,
#plan #nav_plan a,
#fair #nav_fair a,
#contact #nav_contact a,
nav ul li a:hover{
    background-position: 0 -45px;
}
#contents{
    display: flex;
}
#contents #main{
    width: 570px;
}
#contents #sub{
    width: 230px;
    padding-left: 40px;
}
#news ul{
    padding-left: 175px;    
}
#news ul li{
    border-bottom: 1px dotted #6c5f45;
    list-style: none;
    text-indent: -175px;    
}
#news ul li time{
    width: 175px;
    font-weight: bold;
    color: #6c5f45;
    
    text-indent: 0px;
    margin-right: 57px;
}
